<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
    
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
    <script src="https://unpkg.com/babel-core@5.8.38/browser.min.js"></script>
    <title>Document</title>
</head>
<style>
    .mauvang{background-color: yellow}
</style>
<body>
    <div id="root"></div>

    <script type="text/babel">
        class Com extends React.Component{
            constructor(props){
                super(props);
                this.state = {
                    total : 1
                }
                this.onClick = this.onClick.bind(this);
            }

            onClick () {
                this.setState({
                    total : this.state.total + 1
                });
            }
            render() {
                return (
                    <div>
                        <h1>{this.state.total}</h1>
                        <button onClick = {this.onClick}>Happy lunar new year {this.state.total}</button>
                    </div>
                );
            }
        };
        ReactDOM.render(
          <Com />,
        document.getElementById('root')
        );
    </script>
         
    
</body>
</html>